@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Encode+Sans:wght@700&family=Inconsolata:wght@700&display=swap");

:root {
  /* Theme colors (changed using js) */
  --color-dark-background: #0b0a0d;
  --color-dark-text: #ffffff;

  --color-light-background: #e6e6e6;
  --color-light-text: #000000;

  /* Active Colors (default) */
  --active-color-background: #e6e6e6;
  --active-color-text: #000000;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--active-color-background);
  color: var(--active-color-text);
  height: 90%;
  width: 100%;
  box-sizing: border-box;
}
#root {
  height: 100%;
  width: 100%;
}

.buuu {
  position: absolute;
  width: 70%;
  height: 38%;
  left: -800px;
  top: 400.52px;
  background: linear-gradient(
    176deg,
    rgba(3, 32, 71, 0) 22.4%,
    rgba(3, 32, 70, 0.19283) 50.85%,
    rgba(4, 31, 68, 0.73) 63.18%,
    #032047 90.04%
  );
  filter: blur(144px);
  transform: rotate(15deg);
}

.bg{
  position: absolute;
width: 2100.59px;
height: 1290.83px;
left: -205.13px;
top: 444px;
right: 0px;
background: linear-gradient(169.82deg, rgba(3, 32, 71, 0) 35.33%, rgba(3, 32, 70, 0.19283) 59.04%, rgba(4, 31, 68, 0.73) 69.32%, #032047 91.7%);
filter: blur(300px);
transform: rotate(0deg);

}
