@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Inconsolata:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
  
}

.logo {
    position: absolute;
    width: 557px;
    height: 612px;
    left: 40px;
    top: 75px;
}

.title h1 {
    font-family: 'Belleza', sans-serif;
    font-size: 8rem;
    text-transform: uppercase;
    color: #032047;
    position: absolute;
    width: 443.64px;
    height: 139.43px;
    left: 800px;
    top: 300px;
    z-index: 10000;
    font-weight: normal;

}

.title h3 {
    position: absolute;
    width: 499px;
    height: 122px;
    left: 800px;
    top: 500px;
    z-index: 10000;

    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 63px;

    color: #000000;

}

.circle{

    z-index: 10000;
width: 900.99px;
right: 0;
position: absolute;
top: 0px;
}



.circles .c1 {
    display: block;
    position: absolute;
    width: 500px;
    height: 500px;
    left: 1605.95px;
    top: -188.34px;
    z-index: 9999;
    border-radius: 50%;
    background: #3DD5A2;
    transform: rotate(-15deg);
}

.circles .c2 {

    border-radius: 50%;
    width: 600px;
    height: 600px;
    position: absolute;
    left: 1501.5px;
    top: -199.51px;
    z-index: 9998;
    background: #6DEFC3;
    transform: rotate(-15deg);
}

.circles .c3 {
    position: absolute;
    width: 800px;
    height: 800px;
    left: 1401.84px;
    top: -297.39px;
    z-index: 9997;
    border-radius: 50%;
    background: #A5F4D9;
    transform: rotate(-15deg);

}

.circles .c4 {
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: 1301.73px;
    top: -410.13px;
    z-index: 9996;
    border-radius: 50%;
    background: #D2F8EA;
    transform: rotate(-15deg);
}

.waves {
    position: absolute;
    width: 2002.59px;
    height: 1123.28px;
    left: -268.5px;
    top: -2.48px;
    background: linear-gradient(167.4deg, rgba(3, 32, 71, 0) 22.4%, rgba(3, 32, 70, 0.19283) 50.85%, rgba(4, 31, 68, 0.73) 63.18%, #032047 90.04%);
    filter: blur(144px);
    transform: rotate(15deg);
}